.container{
    height: 500px;
    width: 500px;
    background-color:green;
    border:3px solid red;
    display: flex; 
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border:2px solid orange;
    background-color: aqua;
    /* transition:2s; */
    /* transition-property:all;
    transition-delay: 5s; */

    /* transform: transform 15s ease 1s; */
    transition: transform 2s ease-in;
}

.box:hover{
     background-color:blueviolet;
     transform: scale(2) translatex(501px) rotate(380deg);

}